:root {
  --green: #d3f8e2;
  --purple: #e4c1f9;
  --magenta: #f694c1;
  --yellow: #ede7b1;
  --blue: #a9def9;
}

body {
  background-color: var(--yellow);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
}

.top-menu {
  display: flex;
  flex-direction: row;
  background-color: var(--green);
}

.regular-item {
  background-color: var(--green);
  font-size: 2rem;
  padding: 1rem;
  color: var(--blue);
}

.dropdown {
  background-color: var(--magenta);
  font-size: 2rem;
}

.dropper {
  background-color: var(--green);
  padding: 1rem;
  position: relative;
}

.drop-btn {
  border: none;
  font-size: 2rem;
  color: var(--purple);
  background-color: var(--green);
}

.drops {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  position: absolute;
}

ul.drops {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  opacity: 0.5;
  transition: opacity 0.5s;
}

ul.drops:hover {
  opacity: 1;
}

.drops li {
  list-style: none;
  font-size: 2rem;
  font-style: normal;
  padding: 0.5rem;
}

.drops a:hover {
  color: var(--magenta);
}

.drops a {
  color: var(--green);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.hidden {
  display: none;
}
